.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .forgot-password-form {
    width: 300px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .forgot-password-form h2 {
    margin-bottom: 20px;
    color: #f00;
    text-align: center;
  }
  
  .forgot-password-form p.error-message {
    color: #f00;
    text-align: center;
  }
  
  .forgot-password-form input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 4px;
  }
  
  .forgot-password-form input::placeholder {
    color: #999;
  }
  
  .forgot-password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-form button:hover {
    background-color: #d00;
  }
  
  @media screen and (max-width: 400px) {
    .forgot-password-form {
      width: 90%;
    }
  }
  